
#leftBar {
    background-color: rgba(0, 255, 149, 0.664);
    height: 94vh;
    padding-left: 20px;
}

.userImg {
    display: block;
    max-height: 60px;
    max-width: 60px;
    margin: auto 50px;
    margin-top: 1em;

    border-radius: 50%;
}
